<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История C</title>
    <style>
        .image {
            position	: absolute;
            width		: 500pt;
            height: 700pt;
            margin-left: 100pt;
        }

        h2 {
            position	: absolute;
            margin-left: 12pt;
            top		: 5pt;
            width		: 100%;
            color: white;
        }

        .btn {
            position	: absolute;
            margin-left: 12pt;
            top		: 900pt;
            width		: 130pt;
            height: 30pt;
        }
    </style>

</head>
<body bgcolor="#4682b4">

    <div class="image">
        <img height="1250pt" width="700pt" src="img/ui_dialog.png" alt="" />
        <h2>Программирование – это основа цифровой эпохи, в которой мы живём сегодня.
            Каждый раз, когда вам нравится публикация в социальных сетях, вы отправляете элек-тронное письмо или устанавливаете будильник на своём телефоне, язык программиро-вание скрыто работает, совершая различные вызовы.
            Середина 50-х гг. характеризуется стремительным прогрессом в области про-граммирования.
            Роль программирования в машинных кодах сильно уменьшилась, ста-ли появляться языки программирования нового типа, выступающие в роли посредника между машинами и программистами. Наступило время второго и третьего поколений языков программирования.
            Первый язык программирования «Fortran» был создан Джоном Бэкусом и счи-тается старейшим языком программирования.
            Язык программирования был создан для научных, математических и статистических вычислений высокого уровня. Язык до сих пор используется в некоторых из самых передовых суперкомпьютеров в мире.
            Следующей ступенью в развитии программирования стал язык программирова-ния C, разработанный Деннисом Ричи из компании Bell Telephone Laboratories для ис-пользований и операционной системой Unix.
            Язык был основан на процедурной пара-дигме программирования и имел наиболее удобный синтаксис.
            Многие из ведущих в настоящее время языков программирования являются производными от C.
            В 1995 году был создан язык программирования Java - это универсальный, ста-тический, объектно-ориентированный язык высокого уровня, созданный Джеймсом Гослингом для проекта интерактивного телевидения.
            Данный язык программирования стал кроссплатформенным одним из первых.
            В нём впервые была реализована идея «написано однажды, работает везде».
            Кроме того, язык одним из первых реализовал виртуальные машины, а также сочетал компиляцию и интерпретацию.
            В последующем появлялись более новые языки программирования, которые ав-томатизировали многие вещи, такие языки получили популярность в Web технологиях.
            Некоторые современные технологии программирования очень удобны, но имеют недо-статки в быстродействии и надёжности.
            По этой причине они в основном применяют-ся в проектах, где важно быстрое создание программного обеспечения.
        </h2>
        <button class="btn" href="/course"><a href="course">Прочитано</a></button>
    </div>

   </body>
</html>